div.semantic-widget {
    
}

div.semantic-widget div.semantic-query {
    margin: auto auto;
    vertical-align: middle;
    text-align: center;
}

div.semantic-widget input#semantic-query {
    width: 200px;
}

div.semantic-results {
    margin: auto auto;
    height: 800px;
    vertical-align: middle;
    text-align: center;
}

div.semantic-progress {
    display: inline-block;
}
